.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#pieChart {
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 550px !important;
  height: 420px !important;
  float: right !important;
  margin-right: 40px;
}

#statsChart {
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 550px !important;
  height: 420px !important;
  margin-left: 40px;

}

#streamChart {
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  padding-left: 0px;
  margin: auto;
  margin-top: 30px;
  width: 1200px;
}

#mapChart {
  padding-top: 70px !important;
  margin: auto;
}

#toolTipSize {
  border: 2px solid rgb(0, 108, 169);
  border-radius: 3px;
  background-color: #ffffff;
  padding: 5px;
  font-size: 7px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
